body {
  margin: 0;
  font-family: sans-serif;
  color: #6D6F70;
}
.background-block {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #CECECE;
}
.background-block .sign {
  padding: 5px 5px 20px 20px;
  margin: 0 auto;
  background-color: white;
}
.close {
  text-align: right;
}
.close img {
  width: 10px;
  padding: 8px;
  border-radius: 50%;
  background-color: #C0C0C0;
}
