@color-background: #CECECE;
@color-additional-1: #C0C0C0;
@color-additional-2: #6D6F6F;
@color-facebook: #4F619A;
@color-font-light: #6D6F70;
@color-font-dark: #292929;

body {
  margin: 0;
  font-family: sans-serif;
  color: @color-font-light;
}

.background-block {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: @color-background;
  .sign {
    padding: 5px 5px 20px 20px;
    margin: 0 auto;
    background-color: white;
  }
}

.close {
  text-align: right;
  img {
    width:10px;
    padding: 8px;
    border-radius: 50%;
    background-color: @color-additional-1;
  }
}